@use "../global" as *;

.p-birthday {
  background-color: rgb(241, 241, 241);
  height: 100%;
  min-height: 100vh;
  line-height: 1.2;
  &__inner {
    max-width: 500px;
    margin: 0 auto;
    padding: 60px 50px;
  }
  &__tag {
    display: inline-block;
    font-size: 3rem;
    background-color: rgb(192, 3, 3);
    color: #fff;
    text-align: center;
    padding: 5px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    ._upright {
      text-combine-upright: all;
    }
  }
  &__title {
    display: flex;
    font-size: 3rem;
    color: #000;
  }
  &__title-container {
    margin-left: 40px;
    text-align: center;
    line-height: 2;
  }
  &__step {
    margin-top: 60px;
  }
  &__step-title {
    font-size: 3rem;
    padding: 6px 0 10px;
    color: #000;
    text-align: center;
    background-color: #d3fcff;
    span {
      display: block;
      font-size: 2rem;
      margin-top: 4px;
      color: gray;
    }
  }
  &__button {
    position: relative;
    display: block;
    transform-style: preserve-3d;
    perspective: 800px;
    width: 400px;
    height: 80px;
    line-height: 74px;
    margin: 40px auto 0;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    &.cubic {
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid black;
        line-height: 74px;
        transition: all .3s;
      }
      .default {
        background-color: #fff;
        color: black;
        transform: rotateX(0);
        // 左から X軸、Y軸、Z軸
        transform-origin: center center -38px;
      }
      .hovering {
        background-color: black;
        color: #fff;
        transform: rotateX(90deg);
        transform-origin: center center -38px;
      }
    }
    &:hover {
      opacity: 1;
      .default {
        transform: rotateX(-90deg);
      }
      .hovering {
        transform: rotateX(0);
      }
    }
  }
  &__list {
    margin-top: 60px;
    li + li {
      margin-top: 8px;
    }
  }
}
