<% const pageInfo = {
  url: "/"
};
-%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./include/_head', {meta:pageInfo}); -%>
<body class="p-birthday">
  <main class="main">

    <button class="p-birthday">誕生日一覧はコチラ</button>


  </main>
  <script defer src="/assets/js/bundle.js"></script>
</body>
</html>
