<% const pageInfo = {
  url: "/"
};
-%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./include/_head', {meta:pageInfo}); -%>
<body class="p-sample">
  <main class="main">
    <h3>Wikipediaの記事検索</h3>
    <input id="keyword" type="text" placeholder="例：インターネット">
    <button id="btn">検索</button>
    <div id="content"></div>
  </main>
  <script defer src="/assets/js/bundle.js"></script>
</body>
</html>
