<% const pageInfo = {
  url: "/"
};
-%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./include/_head', {meta:pageInfo}); -%>
<body class="p-sample">
  <main class="main">
  </main>
  <script defer src="/assets/js/bundle.js"></script>
</body>
</html>
